
:root{
    --bg-color:  #222;
    --bg-c-color:  #333;
    --bg-c2-color:#444;
    --color:#ddd;
    --color2:#999;

    --ht-color: #FFF;
    --ht-color-h: #bbb;
    --trans: #00000000;
    --err:#ff005d;
}

*{
    color:var(--color);
    display: block;
    margin: 5px;
    font-family:'Montserrat', sans-serif;
    box-sizing: content-box;
}

body{
    background-color: var(--bg-color);
}

h1,h2{

}

form{
    padding:10px;
    border-radius: 10px;
    width: 78vw;
    min-width:380px;
    display: grid;
    justify-content:center;



}

input,select{
    border:none;
    border-radius: 5px;
    border: var(--color) 1px solid;
    padding: 5px;
    padding-inline: 10px;
    background-color: var(--trans);
}

textarea{
    border-radius: 7px;
    border: var(--color) 1px solid;
    background-color: var(--trans);
    width:60vw;
    height:40vh;
}

pre{
    background: var(--bg-c2-color);
    padding: 10px;
    border-radius: 7px;
    width:60vw;
    height:40vh;
}


.button,button{
    border:none;
    border-radius: 20px;
    padding: 5px;
    width:max-content;
    text-decoration: none;
    padding-inline: 10px;
    background-color: var(--color);
    color: var(--bg-color);
}

.button:hover,button:hover{
    border:none;
    border-radius: 20px;
    padding: 5px;
    width:max-content;
    padding-inline: 10px;
    background-color: var(--trans);
    color: var(--color);
    border: var(--color) 1px solid;

}



a{
    color:var(--ht-color);
}

a:hover{
    color:var(--ht-color-h);
    text-decoration: none;

}


#title_c>h1{
    display: inline;
    margin:0;
}

#capital{
    color:var(--bg-color);
    background-color:var(--color);
    width:fit-content;
}

head,script{
    display: none;
}

#err{
    background-color: var(--err);
    color: var(--color);
    padding-inline: 10px;
    padding-block: 10px;
}


.note-preview{
    margin:20px;
    background-color:var(--bg-c-color);
    border-radius: 5px;
}

.note-preview:hover{
    background-color:var(--bg-color);
    border-radius: 5px;
}

.note-preview>a{
    text-decoration: none;
}

.note-preview>p{
    background-color:var(--bg-c2-color);
    padding: 5px;
    height:48px;
    max-width:250px;
    overflow: hidden;
}

small{
    color:var(--color2);
    font-size:12px;
}

#preview-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#newNote-button-container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

#newNote-button-container>.button{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

